<?xml version="1.0"?>

<config>
  <modules>
    <TBT_Enhancedgrid>
      <version>1.3.1.2</version>
    </TBT_Enhancedgrid>
  </modules>
    <admin>
        <routers>
            <enhancedgrid>
                <!-- should be set to "admin" when overloading admin stuff (?) -->
                <use>admin</use>
                <args>
                    <module>TBT_Enhancedgrid</module>
                    <!-- This is used when "catching" the rewrite above -->
                    <frontName>enhancedgrid</frontName>
                </args>
            </enhancedgrid>
        </routers>
    </admin>

    <global>
        <blocks>
          <enhancedgrid>
            <class>TBT_Enhancedgrid_Block</class>
          </enhancedgrid>
        </blocks>
        <helpers>
            <enhancedgrid>
                <class>TBT_Enhancedgrid_Helper</class>
            </enhancedgrid>
        </helpers>
        <blocks>
          <adminhtml>
            <rewrite>
              <widget_grid_column>TBT_Enhancedgrid_Block_Widget_Grid_Column</widget_grid_column>
              <catalog_product>TBT_Enhancedgrid_Block_Catalog_Product</catalog_product>
            </rewrite>
          </adminhtml>
        </blocks>
    
        <models>
            <enhancedgrid>
                <class>TBT_Enhancedgrid_Model</class>
            </enhancedgrid>
        </models>
    
        <rewrite>
        <!-- @nelkaake -a 13/11/10: Added for Magento 1.4 compatibility -->
            <tbt_enhancedgrid_catalog_product_export_csv>
                <from><![CDATA[#^/admin/catalog_product/((exportCsv.*))/$#]]></from>
                <to>/enhancedgrid/catalog_product/${1}/</to>
            </tbt_enhancedgrid_catalog_product_export_csv>
            <tbt_enhancedgrid_catalog_product_export_xml>
                <from><![CDATA[#^/admin/catalog_product/((exportXml.*))/$#]]></from>
                <to>/enhancedgrid/catalog_product/${1}/</to>
            </tbt_enhancedgrid_catalog_product_export_xml>
            <tbt_enhancedgrid_catalog_product>
                <from><![CDATA[#^/adminhtml/catalog_product/((massProd.*))/$#]]></from>
                <to>/enhancedgrid/catalog_product/${1}/</to>
            </tbt_enhancedgrid_catalog_product>
        </rewrite>
    </global>
  
    <adminhtml>
        <layout>
            <updates>
                <enhancedgrid>
                    <file>tbt_enhancedgrid.xml</file>
                </enhancedgrid>
            </updates>
        </layout>
    	<menu>
			<catalog module="enhancedgrid">
        		<children>
					<products module="enhancedgrid" translate="title">
						<title>Manage Products*</title>
						<sort_order>0</sort_order>
						<action>enhancedgrid/catalog_product</action>
					</products>
				</children>
			</catalog>
	   </menu>
    </adminhtml>

    <default>
        <enhancedgrid>
            <general>
                <isenabled>1</isenabled>
            </general>
            <columns>
                <showcolumns>id,name,type_id,attribute_set_id,sku,price,qty,visibility,status,websites,thumbnail</showcolumns>
                <truncatelongtextafter>60</truncatelongtextafter>
            </columns>
            <images>
                <showurl>0</showurl>
                <showbydefault>1</showbydefault>
                <width>75</width>
                <height>75</height>
            </images>
            <defaults>
                <limit>20</limit>
                <page>1</page>
                <sort>id</sort>
                <dir>desc</dir>
            </defaults>
        </enhancedgrid>
    </default>
    
    <adminhtml>
        <acl>
          <resources>
			<all>
				<title>Allow Everything</title>
			</all>
            <admin>
              <children>
            	  <catalog>
            		<children>
    					<enhancedgrid>
                              <title>Enhanced Product Grid</title>
    					</enhancedgrid>
    				</children>
            	  </catalog>
                  <system>
                      <children>
                        <config>
                          <children>
                            <enhancedgrid>
                              <title>Enhanced Grid Config</title>
                            </enhancedgrid>
                          </children>
                        </config>
                      </children>
                  </system>
              </children>
            </admin>
          </resources>
        </acl>
    </adminhtml>
</config> 